<div class="page-password-edit">
    <div class="logout"> {{{logOut}}}</div>
    <div class="photo">{{{profilePhoto}}}</div>
    <div class="data-password">
        <div class="items">
            <form id="form-edit-password">
                {{{oldPassword}}}
                {{{newPassword}}}
            </form>
        </div>
        <div class="group-btn">
            <div>{{{buttonSave}}}</div>
            <div>{{{linkCancel}}}</div>
        </div>

    </div>
</div>