<div class="page-profile-edit">
    <div class="logout"> {{{logOut}}}</div>
    <div class="photo">{{{profilePhoto}}}</div>
    <div class="data-profile">
        <div class="items">
            <form id="form-edit-password">
                {{{oldPassword}}}
                {{{newPassword}}}
                {{{repeatPassword}}}
            </form>
        </div>
        <div class="group-btn">
            <div>{{{buttonSave}}}</div>
            <div>{{{linkCancel}}}</div>
        </div>

    </div>
</div>