<div class="page-profile-edit">
    <div class="logout"> {{{logOut}}}</div>
    <div class="photo">{{{profilePhoto}}}</div>
    <div class="data-profile">
        <div class="items">
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{lastName}}}
            {{{telephone}}}
        </div>
        <div class="group-btn">
            <div>{{{buttonSave}}}</div>
            <div>{{{linkCancel}}}</div>
        </div>

    </div>
</div>