<div class="form form-registration">
    <h1 class="title">Registration</h1>
    <form id="form-registration">
        {{{email}}}
        {{{login}}}
        {{{firstName}}}
        {{{lastName}}}
        {{{telephone}}}
        {{{password}}}
        {{{passwordRepeat}}}
    </form>
    {{{btnOk}}}
    {{{link}}}
</div>