<div class="chats-page">
    <div class="chat-control">
        <div class="control">
            {{{menuControl}}}
            <div class="photo-profile-chat">
                <img src="{{avatarProfile}}">
            </div>
        </div>
        <div class="add-chat">{{{addChat}}}</div>
        <div class="search-input"><input placeholder="Search" /></div>
        <div class="chat-list">
            {{{chats}}}
        </div>
    </div>
    {{{currentChat}}}
</div>